@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    font-family: Arial, Helvetica, sans-serif,;
} */

@layer base {
    :root {
        --background: 210, 33%, 98%;
        --page: 206, 31%, 97%, 1;
        --foreground: 220 24% 13%;
        --card: 0 0% 100%;
        --card-foreground: 220 24% 13%;
        --popover: 0 0% 100%;
        --popover-foreground: 220 24% 13%;
        /* --primary: 160 84% 39%; */
        --primary: 209 71% 27%;
        --primary-foreground: 0 0% 100%;
        --secondary: 52 82% 60%;
        --secondary-foreground: 0 0% 9%;
        --muted: 240 5% 96%;
        --muted-foreground: 222 12% 59%;
        --accent: 160 84% 39%;
        --accent-foreground: 0 0% 100%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        /* --ring: 160 84% 39%; */
        --ring: 211, 90%, 49%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --font-1: 221, 43%, 11%, 1;
        --font-2: 221, 17%, 32%, 1;
        --font-3: 220, 13%, 58%, 1;
        --font-4: 219, 19%, 83%, 1;
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
        --gray: 210, 24%, 93%;
        --icon-gray: 227, 13%, 65%, 1;
        --blue-1: 214, 92%, 45%;
        --blue-2: 207, 83%, 75%;
        --blue-soft: 210, 93%, 95%;
        --orange: 26, 93%, 78%;
        --orange-soft: 25, 75%, 97%;
        --green-1: 145, 63%, 49%;
        --green-2: 116, 76%, 87%;
        --green-3: 147, 100%, 98%;
        --red-1: 359, 67%, 22%, 1;
        --red-2: 359, 61%, 58%, 1;
        --red-3: 359, 67%, 78%, 1;
        --yellow-1: 30, 94%, 31%, 1;
        --yellow-2: 30, 96%, 63%, 1;
        --yellow-3: 30, 100%, 77%, 1;
        --purple-1: 236, 36%, 40%, 1;
        --purple-2: 236, 33%, 60%, 1;
        --purple-3: 236, 43%, 73%, 1;
        --kreafi-1: 72 67% 49%;
        --kreafi-2: 222 55% 13%;
        --kreafi-3: 10 85% 50%;
        --button-normal: 165, 94%, 36%, 1;
        --button-normal-soft: 165, 95%, 36%, 0.1;
        --button-hover: 16, 88%, 54%;
        --button-hover: 44, 86%, 60%;
        --line: 213, 18%, 90%;
        --hover-line: 206, 18%, 96%, 1;
        --hover-soft: 165, 93%, 24%, 0.1;
        --code: 221 18% 35%;
        /* typography */
        /* 42px */
        --text-2xl: 2.625rem;
        /* 32px */
        --text-xl: 2rem;
        /* 24px */
        --text-lg: 1.5rem;
        /* 20px */
        --text-md: 1.25rem;
        /* 18px */
        --text-base: 1.125rem;
        /* 16px */
        --text-sm: 1rem;
        /* 14px */
        --text-xs: 0.875rem;
        /* 12px */
        --text-2xs: 0.75rem;
    }

    .dark {
        --background: 220 24% 10%;
        --foreground: 0 0% 98%;
        --card: 220 24% 10%;
        --card-foreground: 0 0% 98%;
        --popover: 220 24% 10%;
        --popover-foreground: 0 0% 98%;
        --primary: 160 84% 39%;
        --primary-foreground: 0 0% 100%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 222 12% 59%;
        --accent: 160 84% 39%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 20%;
        --input: 0 0% 20%;
        --ring: 160 84% 39%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
        --code: 221 18% 75%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    html {
        scroll-behavior: smooth;
    }
}